@model InventoryManager.Repository.Models.Product

<div class="card">
    <div class="card-header">
        @Model.Name
    </div>
    <div class="card-body">
        <h5 class="card-title">Price: @Model.Price</h5>
        <p class="card-text">Qty: @Model.Quantity</p>
        <div>
            <a href="/Home/Edit/@Model.Id" class="btn btn-primary" type="submit">Edit</a>
            <form asp-action="Delete" asp-route-id="@Model.Id" method="POST" onsubmit="return confirmDelete();"
                style="display: inline;">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>